@use 'variables';

.header {
  height: 100%;
  width: 100%;
  padding: 0 100px 0 35px;
  display: flex;
  align-items: center;

  .logo {
    margin-right: 38px;
  }
}

.user-info {
  margin-left: auto;
  height: 43px;
  display: flex;
  align-items: center;

  &__initials {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: variables.$color-yellow;
    border-radius: 5px;
    width: 43px;
    height: 43px;
    margin-right: 11px;

    span {
      font-size: 23px;
      color: #fff;
    }
  }

  &__name {
    color: variables.$color-primary;
    font-weight: 700;
  }
}
