@use 'variables';

select {
  border-radius: 5px;
  border: unset;
  padding: 8px 50px 8px 13px;
  font-size: variables.$font-size-sm;
  color: variables.$color-white;
  outline: none;
  background: variables.$color-green url("/assets/icons/arrow.svg") no-repeat right 12px top 50%;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
