@use 'variables';

.filters {
  display: flex;
  height: 32px;

  div {
    margin-right: 23px;
  }
}

button.generate {
  border: unset;
  border-radius: 5px;
  padding: 8px 13px;
  color: variables.$color-white;
  font-size: variables.$font-size-sm;
  background-color: variables.$color-primary;
  cursor: pointer;
}
