.wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-reports {
  display: flex;
  width: 500px;
  flex-direction: column;
  justify-content: center;

  p {
    text-align: center;
  }

  img {
    margin-top: 50px;
  }
}
