.reports {
  display: flex;
  flex-direction: column;
  height: 100%;

  div:first-child {
    height: 80px;
  }

  &__empty {
    margin-top: 150px;
  }
}


.report-result {
  .payments {
    flex: 60% 1 1;
  }

  .charts {
    flex: 40% 1 1;
  }
}
